/* CUSTOM STORY STYLE */

.intro__time
  font-family 'National 2 Narrow Web'
  font-weight 500
  margin-bottom 4rem



.text-section, .section__hed
  max-width 650px
  width 90%
  margin 0 auto
  b
    a
      color inherit
      border-color inherit 
  li
    padding-left 10px
    margin-left 50px
    margin-bottom 1rem
    list-style-type disc
    line-height 1.5

.section__hed
  font-size 36px
  margin-top 4rem
  font-family 'Tiempos Headline Web'
p
  color #222
  font-size 20px
.intro__hed
  font-family 'Tiempos Headline Web'
  font-size 48px
  margin-top 4rem
